h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
}

.App {
  color: rgb(70, 57, 27);
  background-color: #719192;
}

.App .container {
  border-radius: 0.25%;
  padding: 20px;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-attachment: fixed;
  box-shadow: 1px 1px #000;
}

.App header {
  max-width: 100%;
}

.App h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
}

.App footer p {
  font-size: 12px;
  font-family: monospace;
}

@media (max-width: 576px) {
  .App .header h1 {
    font-size: 50px;
  }
}

.Definitions h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 43px;
}

.Definitions .Meanings section {
  border: 0.5px solid #719192;
  border-radius: 8px;
  box-shadow: 3px 4px 10px #719192;
  margin-bottom: 15px;
  padding: 10px;
  align-items: stretch;
}
