.App {
  background: linear-gradient(
    178.6deg,
    rgb(147, 184, 218) 11.8%,
    rgb(140, 147, 153) 83.8%
  );
  color: rgb(14, 14, 13);
}

.App header {
  max-width: 100%;
}

.App .dictionary-logo {
  display: flex;
  height: 160px;
}

.App h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 70px;
}

.App footer p {
  font-size: 12px;
  font-family: monospace;
}

@media (max-width: 576px) {
  .App h1 {
    font-size: 50px;
  }
}

.Definitions h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 43px;
}

.Definitions .Meanings section {
  border: 0.5px solid rgb(246, 236, 99);
  border-radius: 8px;
  box-shadow: 3px 4px 10px rgba(47, 47, 1, 0.883);
  margin-bottom: 15px;
  padding: 10px;
}
